
.element1
{
  background-color: #d99694; 
  border: 4px solid #295485;
}
.element2
{
  background-color: #c4bd97; 
  border: 4px solid #295485;
}
.element3
{
  background-color: #558ed5;
  border: 4px solid #295485;
}
#f1e1-
  {
    height: 100px;
    width: 100px; 
    position: absolute;
    top: 78px;
  }
#f1e2-
  {
    height: 100px;
    width: 100px; 
    position: absolute;
    top: 191px;
  }
#f1e3-
  {
    height: 100px;
    width: 100px; 
    position: absolute;
    top:303px;
  }
  #f2e1-
  {
    height: 100px;
    width: 100px; 
    position: absolute;
    left: 200px;
    top: 80px;
  }
#f2e2-
  {
    height: 100px;
    width: 100px; 
    position: absolute;
    top: 187px;
    left: 304px;
  }
#f2e3-
  {
    height: 100px;
    width: 100px; 
    position: absolute;
    top:295px;
    left: 408px;
  }
  #f3e1-
  {
    height: 130px;
    width: 300px; 
    position: absolute;
    top: 100px;
    left: 600px;
  }
#f3e2-
  {
    height: 130px;
    width: 135px; 
    position: absolute;
    top: 243px;
    left: 600px;
  }
#f3e3-
  {
    height: 130px;
    width: 135px; 
    position: absolute;
    top:243px;
    left: 765px;
  }
  #f4e1-
  {
    height: 130px;
    width: 140px; 
    position: absolute;
    top: 100px;
    left: 1000px;
  }
#f4e2-
  {
    height: 130px;
    width: 140px; 
    position: absolute;
    top: 100px;
    left: 1154px;
  }
#f4e3-
  {
    height: 130px;
    width: 140px; 
    position: absolute;
    top:243px;
    left: 1000px;
  }
  #f1e1
  {
    height: 100px;
    width: 100px; 
    position: relative;
    bottom: -30px;
  }
  #f1e2
  {
    height: 100px;
    width: 100px; 
    position: relative;
    bottom: -34px;
  }
  #f1e3
  {
    height: 100px;
    width: 100px; 
    position: relative;
    bottom: -38px;
  }
  #f2e1
  {
    height: 100px;
    width: 100px; 
    position: relative;
    left: 200px;
    bottom: 293px;
  }
  #f2e2
  {
    height: 100px;
    width: 100px; 
    position: relative;
    left: 305px;
    bottom: 293px;
  }
  
  #f2e3
  {
    height: 100px;
    width: 100px; 
    position: relative;
    left: 410px;
    bottom: 293px;
  }
  
  #f3e1
  {
    height: 130px;
    width: 300px; 
    position: relative;
    left: 600px;
    bottom: 600px;
  }
  #f3e2
  {
    height: 130px;
    width: 135px; 
    position: relative;
    left: 600px;
    bottom: 595px;
  }
  #f3e3
  {
    height: 130px;
    width: 135px; 
    position: relative;
    left: 765px;
    bottom: 733px;
  }
  
  #f4e1
  {
    height: 130px;
    width: 135px; 
    position: relative;
    left: 1000px;
    bottom: 1015px;
  }
  
  #f4e2
  {
    height: 130px;
    width: 135px; 
    position: relative;
    left: 1149px;
    bottom: 1153px;
  }
  
  #f4e3
  {
    height: 130px;
    width: 135px; 
    position: relative;
    left: 1000px;
    bottom: 1150px;
  }
   
.part1
{
position:relative ;
top: 90px;
}
.part2
{
position: relative;
top:550px;  
}
h1
{
  color: crimson;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 5px gray;
}
h2
{
  color: chocolate;
  text-decoration: underline;
  text-shadow: 2px 2px 5px rgb(172, 169, 169);
}
.figure1 p
{
  width: 400px;
  color: #1e69c4;
  font-family: "Noto+Sans+KR&display=swap", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 430px;
  left: 30px;
}
.figure2 p
{
  width: 400px;
  color: #1e69c4;
  font-family: "Noto+Sans+KR&display=swap", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 430px;
  left: 300px;
}
.figure3 p
{
  width: 400px;
  color: #1e69c4;
  font-family: "Noto+Sans+KR&display=swap", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 430px;
  left: 750px;
}
.figure4 p
{
  width: 400px;
  color: #1e69c4;
  font-family: "Noto+Sans+KR&display=swap", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 430px;
  left: 1070px;
}