body{ background-color: rgb(239, 239, 239);}
.container
{
    display: inline-grid;
    grid-template-columns: auto auto;
    align-content: space-between;
    margin-left: 15%;
}
#image
{
    width: 600px;
    height: 300px;
    border: 5px solid #ffffff;
}
.formulaire
{
    width: 280px;
    margin-left: 10%;
    height: 300px;
    background-color: #ffffff;
}
#ES
{
    width: 100px;
    height: 100px;
    padding-left: 5%;
    align-content: space-between;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#title{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-align: center;
}
label
{  font-family: 'Roboto', sans-serif;
    font-size: x-small;
    margin-left: 4%;
    color:rgb(107, 106, 106);
}
input[type=text]
{
    display: block;
    width: 80%;
    margin: 8px ;
    padding: 5px 10px;
    border: 1px solid #ccc;
}
input[type=submit]
{
  background-color: #003a6a;
  padding: 2%;
  margin-left:7%;
  color: #ffffff;
  border: 1px solid #d1d3e2;
}
a
{
    font-size:9px;
    color:#4782b2;
    margin-left: 3%;
    text-decoration: none;
}
a:hover{ color: #003a6a;}

.container1
{
    display:inline-grid;
    grid-template-columns: auto auto auto;
    align-content: space-between;
    margin-left: 15%;
    margin-top: 2%;

}
.ensa
{
    width: 610px;
    height: 250px;
    background-color: #ffffff;
    grid-row: 1/2;
}
#para
{   font-family: arial;
    font-size:11px;
    text-align: justify;
    line-height: 23px;
    margin: 3%;
    color:rgb(107, 106, 106);
}
h3
{
    font-family: arial;
    margin-left: 3%;  
}

.space
{
    grid-row:2/3;
    grid-column: 1/2;
    width: 295px;
    background-color: #ffffff;
    margin-top: 3%;
}
.events
{
    grid-row:2/3;
    grid-column: 1/3;
    width: 295px;
    background-color: #ffffff;
    margin-top: 2.5%;
    margin-left: 42%;
}
#pict1,#pict2,#pict3,#pict4,#pict5,#pict6,#pict7,#pict8
{
    width: 55px;
    height: 55px;
    margin-left: 3%;
    float: left;
}
.titre
{
    font-family: arial;
    font-size: 11px;
    margin-left: 3%;
}
#aff,#emp,#mars26,#mars28
{
    font-size:12px;
    color:#4075a0;
    margin-left: 6%;
    text-decoration: none;
    font-family: arial; 
    font-weight: bold;
    
}  
.dp
{
    font-family: arial;
    font-size: 10px;
    margin-left: 28%;
   
} 
.style{ border-top:0.5px dashed rgb(121, 120, 120);
        width: 260px;
}
.public
{
    grid-row: 1/3;
    grid-column: 2/4;
    background-color: #ffffff;
    width: 280px;
    margin-left: 10%;
}

#elec,#CI,#ramadan,#appel
{
    font-size:11px;
    color:#4075a0;
    text-decoration: none;
    font-family: arial; 
    line-height: 10px;
    font-weight: bold;
    display:contents;
}
@media only screen and  (max-width:600px) {
 .container
 {
     display: inline-block;
     margin: 7% 0 7% 0;
 }

 .formulaire,#image{
     width:500px;
     margin: 5px 0 5px 0;
    }
  .container1
  {
      display: inline-block;
      margin: 5% 0 5% 0;
  } 
.events,.space,.public
{
    width:500px;
    margin:5px 0 5px 0;   
} 
}
@media only screen and  (min-width:600px) and(max-width:992)
{

 #image
 {
    grid-row: 1;
    grid-column: 1/2;
    margin: 5px 0 5px 0;
 }
 .formulaire{
     grid-row: 2;
     grid-column: 1/2;
     margin: 5px 0 5px 0;
    } 
.events
{
    grid-row: 3;
    grid-column: 1/2;
    margin: 5px 0 5px 0;
} 
.space{
    grid-row: 4;
    grid-column: 1/2;
    margin: 5px 0 5px 0;
}
.public{
    grid-row: 5;
    grid-column: 1/2;
    margin: 5px 0 5px 0;
}
}

