body
{
    background-color: #486dda;
}
.container-fluid
{
    height: 430px;
    width: 61%;
    margin: 3% 20% ;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 1%;
}
.forme
{
    position: absolute;
    bottom: 220px;
    margin-left: 350px;
}
img.image
{
    border-radius: 1% 0% 0% 1%; 
    height: 430px;
    width: 370px;
}
h3
{
    font-family: 'Nunito', sans-serif;
    font-size:larger;
    color: rgb(53, 52, 52);
    text-align: center;
    margin-top: 48px;
    margin-left: 50px;
    font-size: 25px;
}

#name-u
{
    display: block; 
    box-sizing: border-box;
    padding: 10px 118px 12px 20px ;
    margin-left: 55px;
    border: 1px solid rgb(144, 148, 165);
    border-radius: 23px;
    
}

#name-u::placeholder
{
    position: relative;
    top: 2px;
    font-family: 'Roboto', sans-serif;
    font-size:11px;
}

#mp
{
    display: block;
    padding: 10px 118px 12px 20px ;
    margin-left: 55px;
    position: relative;
    top: 20px;
    border: 1px solid rgb(144, 148, 165);
    border-radius: 20px;
}
#mp::placeholder
{
    position: relative;
    top: 2px;
    font-family: 'Roboto', sans-serif;
    font-size:11px;
}
.click:focus
{
    background-color: rgb(229, 245, 250);
    outline-style: none;
    box-shadow:0 0 0 3px lightblue;
}

#copy
{
    text-align: center;
    color:#5a5c69;
    position: relative;
    top: 115px;
    left: 30px;
    font-family: 'Nunito', sans-serif;
    font-size:12px;
}
#q1
{  
   text-decoration: none;
   position: relative;
   top: 60px;
   left: 150px;
   font-family: 'Nunito', sans-serif;
   font-size:12px;
   color: #486dda;
}
#q1:hover
{
  text-decoration: underline;
}
#q2
{
   text-align: center;
   text-decoration: none;
   position: relative;
   top: 85px;
   left: 60px;
   font-family: 'Nunito', sans-serif;
   font-size: 12px;
   color: #486dda;
}
#q2:hover
{
  text-decoration: underline;
}
.valid
{
    width: 295px;
    height: 40px;
    position: relative;
    left: 55px;
    top: 40px;
    background-color: #4e72de;
    color: #ffffff;
    border: 1px solid rgb(144, 148, 165);
    border-radius: 20px;
}
input[type=submit]:hover
{
    background-color: #313dee;
}
  
input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    outline: 0.1em solid #858796;
    width: 9px;
    height: 9px;
    background-color: #d4d6e9;
    box-shadow: 0 0 0.1em 1pt #858796;

  }

input[type='radio']:checked {
    background:#288391;
    border-radius:0%;
  }
p
{
    position: relative;
    top: 28px;
    left: 50px; 
    color:#5a5c69;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
}
#line
{
  width: 300px;
  position: relative;
  top: 50px;
  left: 30px;
  border-top: #858796;
}
@media only screen and (max-width: 768px) 
{
 .container-fluid 
    {
        width: 400px ;
        height: 450px;
        
    }
.forme
  {
      position: relative;
      right: 350px;
      bottom :55px;
  }
.image
{
    display: none;
}
#name-u #mp #valid
{
    width: 100%;
}

}
@media only screen and (max-width:480px) 
{
  
   .container-fluid 
   {
       width: 700px ;
       position:absolute;
       left: -80px;
   }
   .forme
   {
       width:800px;
       position : relative;
       right: 200px;
       top: -60px;
   }
   
   .image
   {
      display: none;
   }
   #name-u #mp #valid
{
    width: 100%;
}
}
